<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://pbs.twimg.com/media/F4J90T_X0AA9pe8?format=jpg&name=4096x4096);">
  <div class="container py-2 text-center">
    <h1>Save your favourite movies!</h1>
    <%= link_to 'Create a Movie List', new_list_path, class: 'btn btn-flat mt-2 mb-2' %>
  </div>
</div>
