<%= render "navbar" %>

<%= render "banner" %>

<div class="container py-5">
  <div class="d-flex align-items-center justify-content-between mb-3">
    <h1>My Lists</h1>
  </div>


  <div class="row">
    <% if @lists.any? %>
      <% @lists.each do |list| %>
        <div class="col-12 col-sm-6 col-md-4 mb-3">
          <%= link_to list_path(list), class: "text-decoration-none" do %>
            <div class="card-category">
              <%= list.name %>
            </div>
          <% end %>
        </div>
      <% end %>
    <% else %>
      <p>No lists available. Start by creating a new list!</p>
    <% end %>
  </div>
</div>
